main {
  box-sizing: border-box;
}

body {
  margin: 72px;
  background-color:#EDF5E1;
}

h1 {
  color: #379683;
  position: relative;
  margin-left: 15px;
  font-size: 50px;
}

h3 {
  color: #EDF5E1;
}

p {
  color: #EDF5E1;
}

a {
  color: #EDF5E1;
}

/* ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
} */

li {
  border-radius: 8px;
  display: inline-block;
  padding: 15px;
  margin: 20px 20px 40px 0;
  width: 25%;
  background-color: #379683;
}

.logo {
  width: 80px;
  float: left;
}

.button {
  background-color: white;
  padding: 8px;
  margin: 50px 50px 50px 0;
}

.js-add-min-buttons {
  display: inline-block;
}

.js-add-bookmark-button, #js-add-form {
  float: left;
  margin-left: 50px;
}

#css-rating {
  float: right;
  margin-left: 150px;
}

#js-minimum-rating {
  float: right;
  margin-left: 30px;
}