body {
  margin: 72px;
}

h1 {
  color: navy;
  position: relative;
}

.logo {
  width: 80px;
  float: left;
}

li {
  border: 3px solid black;
  border-radius: 8px;
  display: inline-block;
  padding: 10px;
  margin: 0 20px 20px 0;
}

.button {
  background-color: white;
  padding: 8px;
  margin: 50px 50px 50px 0;
}